<!DOCTYPE html>
<html lang="en">
  <div th:insert="~{head :: head}"></div>
  <body>
    <div class="filter">
      <div th:insert="~{nav :: #nav }"></div>
    </div>
    <div class="row">
      <div class="container text-center">
        <h1>About page</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
          doloremque, nobis ipsa ducimus quibusdam non voluptate rerum maxime
          maiores necessitatibus vel ut temporibus nostrum possimus? Praesentium
          hic facilis porro itaque unde, velit corporis vero reiciendis adipisci
          culpa excepturi quos temporibus?
        </p>
      </div>
    </div>

    <div th:insert="~{footer :: #footer}"></div>
  </body>
</html>
